#landlord-login {
    width: 100%;
    height: 100%;
    background: url('../images/login-bg2.jpg') no-repeat;
    background-size: 100% 100%;
    position: relative;
    .action-btn {
        position: fixed;
        bottom: .8rem;
        right: .2rem;
        img {
            width: 4rem;
        }
    }
    .login-dialog {
        width: 80%;
        height: 70%;
        position: absolute;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../images/login-dialog.png') no-repeat;
        background-size: 100% 100%;
        .login-dialog-body {
            width: 80%;
            height: 55%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            div {
                padding: 0 .5rem;
                font-size: 0;
                input {
                    width: 5rem;
                    height: .8rem;
                    margin-left: .4rem;
                    padding: 0 .2rem;
                    vertical-align: top;
                    font-size: .4rem;
                }
            }
            div.mt10 {
                margin-top: .2rem
            }

            div.mt20 {
                margin-top: .4rem
            }

            div.mt30 {
                margin-top: .6rem
            }

            .login-btn {
                width: 3rem;
                height: 1rem;
                line-height: 1.7rem;
                background: url('../images/border.png') no-repeat;
                background-size: 100% 100%;
                margin: 0  auto;
                text-align: center;
            }
        }
        .login-dialog-close {
            text-align: right;
            position: absolute;
            top: .2rem;
            right: .2rem;
        }
        
    }
}